@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: "Roboto", sans-serif;
  background-color: rgb(10, 10, 10);
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}
a {
  color: #fff;
  font-weight: bold;
}
a:hover {
  color: rgba(255, 255, 255, 0.85);
}

/* HEADER SECTION */
.headerLogo {
  background-color: #000;
}
.headerLogo img {
  margin: 5px 25px;
  height: auto;
  width: 50px;
}

/* Hero Section */
.hero {
  width: 100%;
  height: auto;
  background-color: #000;
}
.hero h1 {
  text-shadow: 5px 5px 5px #333;
  font-weight: bold;
  font-size: 400%;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}
.hero p {
  color: #fff;
  text-align: center;
  margin: 10px;
}
.hero i {
  margin: 0px 10px;
}
.hero img {
  width: 100%;
  height: auto;
}

img {
  width: 700px;
  height: auto;
}
.drinks {
  margin: 50px;
  /* margin-bottom: 30px; */
}

/* DRINKS */
.container .drinks {
  border: 2px solid #333;
}

figure {
  border: 1px solid rgb(14, 193, 14);
  display: flex;
  justify-content: center;
  padding: 10px;
  box-shadow: 0px 0px 10px #333;
}
figure img {
  width: 700;
  height: 466;
}
figcaption {
  text-align: center;
  padding: 10px;
  font-size: 200%;
}
